<%= render '/shared/header' %>
<h1>Search Your Twin </h1>

<%= form_tag twins_path, method: :get do %>
  <%= text_field_tag :query, params[:query], :class => "Search Box" %>
  <%= submit_tag "Search your twin", name: nil, :class => 'btn btn-search' %>
<% end %>

<% @twins.each do |twin| %>
  <br>
  <%= twin.name %> <%= button_to "Save As Twin", add_twin_path(twin) %>
<% end %>

