<h1>Sign Up!</h1>
<p>Want to figure out your user markets?</p>

<%= form_for @user, html {:class => "form-horizontal", :role => "form"} do |f| %>
  <ul>
    <li> <%= f.label :first_name %> </li>
    <li><%= f.text_field :first_name , :placeholder => "First Name" %> </li>

    <li><%= f.label :last_name %></li>
    <li><%= f.text_field :last_name , :placeholder => "Last Name" %></li>

    <li><%= f.label :email %></li>
    <li><%= f.text_field :email , :placeholder => "Email" %></li>

    <li><%= f.label :password %></li>
    <li><%= f.password_field :password , :placeholder => "Password" %></li>

    <li><%= f.label :password_confirmation %></li>
    <li><%= f.password_field :password_confirmation , :placeholder => "Confirm Password" %></li>

    <li><%= f.submit %></li>
  </ul>

<% end %>
