<!-- ## displays user's twin on their home page -->
<%= render '/shared/header' %>

<h4><a href="/twins">Search Twins</a><h3>

<h3> Your Current Twins </h3>
<% @user.twins.each do |twin| %>
  <ul class="list-inline">
    <li>
      <!-- twin name -->
      <%= twin.name %>

      <br>

      <!-- twin image -->
          <!-- <img src="<%= twin.image_uri %>"> -->

      <!-- remove twin -->
          <button class="btn btn-primary">
            <div class="submit-button">
              <%= button_to "Remove", remove_twin_path(twin) %>
            </div>
          </button>

      <!-- show markets button -->
          <button class="btn btn-warning" onclick="$('#show').toggle();">
            Show Twin
          </button>

      <!-- markets list -->
        <ul>
          <div id="show" style="display:none">
            <% twin.rankings.each do |ranking| %>
                <li>
                  <%= ranking[:country] %>,
                  <%= ranking[:name] %>
                  #<%= ranking[:rank] %>
                </li>
            <% end %>
          </div>
        </ul>
      </li>
  </ul>
<br>
<% end %>
<br>
<br>
<%= render '/shared/footer' %>
