<%= render '/shared/header' %>

<h4><a href="/twins">Search Twins</a><h3>

<h3> Your Current Twins </h3>
<% @user.twins.each do |twin| %>
  <ul>
  <li><%= twin.name %> <%= button_to "Remove", remove_twin_path(twin) %></li>
  </ul>
    <img src="<%= twin.image_uri %>">
<% end %>

<%= render '/shared/footer' %>
