<!-- ## displays user's twin on their home page -->
<%= render '/shared/header' %>

<h4><a href="/twins">Search Twins</a><h3>

<h3> Your Current Twins </h3>
<% @user.twins.each do |twin| %>
  <ul class="list-inline">
    <li>
      <!-- twin name -->
      <%= twin.name %>
      <%= twin.id %>
      <br>

      <!-- markets list -->
        <ul class="row list-inline col-sm-12">
          <% twin.rankings.each do |ranking| %>
              <li>
                <%= ranking[:country] %>,
                <%= ranking[:name] %>
                #<%= ranking[:rank] %>
              </li>
          <% end %>
        </ul>
      </li>
      <br>
      <!-- remove twin -->
      <button class="btn btn-primary">
        <div class="submit-button">
          <%= button_to "Remove", remove_twin_path(twin) %>
        </div>
      </button>
      <br>
      <br>
  </ul>
<% end %>
<br>
<br>
<%= render '/shared/footer' %>

<script>
  $( ".twin-link" ).click(function() {
    id = $(this).closest("li").data("id");
    alert(id);
  });
</script>
